.App {
  text-align: center;
  align-items: center;
  height: 10000px;
  max-width: 100%;
}

#adderComponent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

#adderComponent>* {
  margin: 3px;
}



.header {
  background-color: black;
  width: 100%;
  min-height: 80px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header>* {
  color: white;
  margin: 0;
}

.logo {
  left: 2%;
  position: absolute;
}

.greeting {
  /* position: relative;
  left: 0;
  right: 0; */
  text-align: center;
  /* margin-left: 0;
  margin-right: 0; */
}

.nav-bar {
  display: flex;
  left: calc(98% - 167px);
  /* ^^^^  This allows me to space the logo and login the same distance. 2%, and whatever the lenght of "Login" is. */
  position: absolute;
  margin-bottom: -1px;
}

.nav-link {
  padding-inline: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

.nav-link:hover {
  border-bottom: 1px solid white;
  transition: 0.5s;
  padding-bottom: 5px;
  cursor: pointer;
}

#timerSubmit {
  padding: 1px;
  margin-inline: 10px;
}