.App {
  text-align: center;
  align-items: center;

}

#adderComponent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

#adderComponent>* {
  margin: 3px;
}



#header {
  background-color: black;
  min-height: 100px;
  min-width: 100vw;
}

#timerSubmit {
  padding: 1px;
  margin-inline: 10px;
}